---
import Button from "../ui/Button.astro";

interface Props {
    author: {
        name: string;
        bio: string;
        avatar: string;
    };
    tableOfContents: {
        title: string;
        id: string;
    }[];
    countryData: {
        name: {
            nativeName: {
                spa: {
                    common: string;
                };
            };
        };
        capital: string;
        flags: {
            svg: string;
        };
        population: number;
        area: number;
        maps: {
            googleMaps: string;
        };
    }[];
}

const { author, tableOfContents, countryData } = Astro.props;
---

<div class="space-y-8">
    <!-- Country Data -->
    <div class="bg-card rounded-lg p-6">
        <img
            src={countryData[0].flags.svg}
            alt={countryData[0].name.nativeName.spa.common}
            class="w-24 h-16 mb-4"
        />
        <h3 class="font-medium mb-4">
            {countryData[0].name.nativeName.spa.common}
        </h3>

        <p class="text-sm text-muted-foreground">
            <strong>Población:</strong>
            {countryData[0].population}
        </p>
        <p class="text-sm text-muted-foreground">
            <strong>Area:</strong>
            {countryData[0].area} km²
        </p>
        <p class="text-sm text-muted-foreground">
            <strong>Capital:</strong>
            {countryData[0].capital}
        </p>
        <Button variant="secondary" href={countryData[0].maps.googleMaps} class="w-full mt-4">Ver en Google Maps</Button>
    </div>
    <!-- Author -->
    <div class="bg-card rounded-lg p-6">
        <div class="flex items-center gap-4 mb-4">
            <img
                src={author.avatar}
                alt={author.name}
                class="w-12 h-12 rounded-full"
            />
            <div>
                <h3 class="font-medium">{author.name}</h3>
                <p class="text-sm text-muted-foreground">{author.bio}</p>
            </div>
        </div>
        <Button variant="secondary" class="w-full">Seguir</Button>
    </div>

    <!-- Table of Contents -->
    <div class="bg-card rounded-lg p-6">
        <h3 class="font-medium mb-4">Contenido</h3>
        <nav>
            <ul class="space-y-2">
                {
                    tableOfContents.map(({ title, id }) => (
                        <li>
                            <a
                                href={`#${id}`}
                                class="text-sm text-muted-foreground hover:text-foreground transition-colors">
                                {title}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</div>
