---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import { getAllItemSlugs } from "@lib/getAllItemSlugs";
import { getSingleItemBySlug } from "@lib/getSingleItemBySlug";

export async function getStaticPaths() {
    const posts = await getAllItemSlugs("tags");
    const paths = posts.map((post: string) => ({ params: post }));

    return paths;
}
const { slug } = Astro.params;

const singlePost = await getSingleItemBySlug(slug, "bitacora");
---

<Layout>
    <article class="max-w-screen-md mx-auto">
        <div class="text-center w-auto mx-auto mb-5">
            <p class="rounded-full bg-slate-300 py-2 px-4 inline-block">
                {
                    new Date(singlePost.date).toLocaleDateString("en-us", {
                        year: "numeric",
                        month: "long",
                        day: "numeric"
                    })
                }
            </p>
        </div>
        <h1
            class="text-center text-3xl text-bold mb-10"
            transition:name={`title-${slug}`}
            set:html={singlePost.title}
        />
        {
            singlePost.featuredImage && (
                <Image
                    class="w-full object-cover aspect-2/3 mb-5"
                    alt={
                        singlePost.featuredImage.node.altText ??
                        singlePost.title
                    }
                    src={singlePost.featuredImage.node.sourceUrl}
                    width={1500}
                    height={1000}
                    transition:name={`img-${slug}`}
                />
            )
        }
        <div class="prose" set:html={singlePost.content} />
    </article>
</Layout>
