---
import { Image } from "astro:assets";
const { item } = Astro.props;
---

<a href={item.slug} class="grid grid-rows-subgrid group h-full">
    <article
        class="bg-card p-6 rounded-lg shadow-md transition-transform hover:scale-105 h-full flex flex-col">
        {
            item.featuredImage && (
                <Image
                    class="w-full object-cover aspect-2/3 mb-5"
                    alt={item.featuredImage.node.altText ?? item.title}
                    src={item.featuredImage.node.sourceUrl}
                    transition:name={`img-${item.slug}`}
                    width={600}
                    height={400}
                />
            )
        }
        <h3
            class="text-xl font-semibold mb-2 group-hover:text-accent"
            transition:name={`title-${item.slug}`}
            set:html={item.title}
        />
        <p class="text-muted-foreground flex-grow">
            {item.excerpt.replace(/<(.|\n)*?>/g, "")}
        </p>
        <button class="btn btn-blue">Leer más</button>
    </article>
</a>
