---
import { Image } from "astro:assets";
const { item } = Astro.props;
const WORDS_LENGTH = 160;
const excert =
    item.summary.shortContent?.length > WORDS_LENGTH
        ? item.summary.shortContent.slice(0, WORDS_LENGTH) + "..."
        : item.summary.shortContent;
const contentShorted =
    item.content?.length > WORDS_LENGTH
        ? item.content.slice(0, WORDS_LENGTH) + "..."
        : item.content;
---

<a href=`/post/${item.slug}` class="grid grid-rows-subgrid group h-full">
    <article
        class="bg-card p-6 rounded-lg shadow-md transition-transform hover:scale-105 h-full flex flex-col">
        {
            item.featuredImage && (
                <Image
                    class="w-full object-cover aspect-2/3 mb-5"
                    alt={item.featuredImage.node.altText ?? item.title}
                    src={item.featuredImage.node.sourceUrl}
                    transition:name={`img-${item.slug}`}
                    width={600}
                    height={400}
                />
            )
        }
        <h3
            class="text-xl font-semibold mb-2 group-hover:text-accent"
            transition:name={`title-${item.slug}`}>
            {item.title}
        </h3>
        <div class="text-muted-foreground flex-grow">
            <p set:html={excert ?? contentShorted} />
        </div>
        <button class="btn btn-blue">Leer más <span>&rarr;</span></button>
    </article>
</a>
